/Directorate_Distribution.mobileprovision
/.DS_Store
.DS_Store
/Directorate/Directorate.xcodeproj/project.xcworkspace/xcuserdata/danwartnaby.xcuserdatad/UserInterfaceState.xcuserstate
/Directorate/Directorate.xcodeproj/xcuserdata/danwartnaby.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Directorate/Directorate.xcodeproj/xcuserdata/danwartnaby.xcuserdatad/xcschemes/xcschememanagement.plist
